/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pysolhttpclient.iml
/.idea/vcs.xml
/.idea/workspace.xml
/pysolhttpclient.egg-info/dependency_links.txt
/pysolhttpclient.egg-info/not-zip-safe
/pysolhttpclient.egg-info/PKG-INFO
/pysolhttpclient.egg-info/requires.txt
/pysolhttpclient.egg-info/SOURCES.txt
/pysolhttpclient.egg-info/top_level.txt
/pysolhttpclient.egg-info/
/build/
/.tox/
